// Specific CSS for your home-page
h1 {
  font-family: Comfortaa, sans-serif;
  font-weight: bold;
}

.title-banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar-input {
  height: 80px;
  font-size: 24px;
}

.btn-size {
  height: 80px;
  margin: 0 1rem;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .search-bar-input {
    width: 300px;
  }
  .btn-size {
    width: 300px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .search-bar-input {
  width: 400px;
  }
  .btn-size {
    width: 200px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .search-bar-input {
  width: 500px;
  }
  .btn-size {
    width: 200px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-bar-input {
  width: 750px;
  }
  .btn-size {
    width: 200px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .search-bar-input {
  width: 750px;
  }
  .btn-size {
    width: 200px;
  }
}
