.grey-box{
  background-color: rgb(196, 193, 193);
}

.footer {
  display:flex;
  justify-content:space-evenly
}

.footer-list-head{
  font-weight: bold;
}


.pagy-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
