<% if user_signed_in? %>
<h2>Bookings</h2>
<ul class="list-group">

<% current_user.bookings.each do |booking| %>

  <%= link_to booking_path(booking) do  %>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= booking.reservation.listing.name %>
    <span class="badge badge-primary">$<%= booking.total_price %></span>
  </li>
</ul>
    <% end %>
<% end %>


<% end %>
</div>
