<div class="mt-5 py-5 bg-white">
  <div class="container">
      <div class="footer">
        <div>
          <div class="hotel-logo">
            <img src="" alt="">
          </div>
          <div class = "social-logo">
            <ul style="list-style: none">
              <li>
              <i class="fab fa-instagram-square"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-pinterest-p"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-explore">
          <ul style="list-style: none">
            <li>
              <span class="footer-list-head">Explore</span>
            </li>
            <li>Hotel Partner Login</li>
            <li>Blog</li>
            <li>Help & FAQs</li>
            <li>Reviews</li>
            <li>Media</li>
        </div>
        <div class="footer-about">
          </ul>
          <ul style="list-style: none">
            <li>
              <span class="footer-list-head">About</span>
            </li>
            <li>Contact Us</li>
            <li>Become a Hotel Partner</li>
            <li>Affiliate Program</li>
            <li>Your Privacy Rights</li>
            <li>Terms and Conditions</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</div>
