<div class="container logos">
  <div class="row row-cols-6">
    <div class="col">
      <img src="<%= asset_path('hotel_logos/01-hyatt.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/02-westin.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/03-JWMarriot.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/04-ritz.png') %>" alt="">
    </div>
  </div>
</div>
