<div class="container">
  <div class="row row-cols-6">
    <div class="col">
      <img src="/01-hyatt.png" alt="">
    </div>
    <div class="col">
      <img src="/02-westin.png" alt="">
    </div>
  </div>
</div>
