<% @listings.each do |listing| %>
<div class="card-product my-3" style="border-radius: 1rem;">
  <img src="https://source.unsplash.com/400x300/?resort" />
  <div class="card-product-infos">
    <h2><%= listing.name %><span class=""><small><%= listing.city %></small></h2>
    <p><%= listing.details %></p>
  </div>
</div>
<% end %>
