<div class="container">
  <h3>Reviews</h3>
</div>
<div class="container border-top">
  <div class="row pt-3">
    <div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
      <div data-target="infinite-scroll.entries">
        <div class="col">
          <%= render 'shared/reviews' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" data-target="infinite-scroll.pagination">
  <%== pagy_nav @pagy%>
</div>
