<!--
<%= simple_form_for :search, url: search_listing_path, method: "GET", html: { class: 'form-inline d-flex justify-content-center my-n3' } do |f| %>
  <%= f.input :name, input_html: {value: "", style:"width: 800px;"} , label: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>

<% end %> -->
<form action="/listings/search" class='form-inline justify-content-center p-2 bg-light' style='position: absolute; top: -2.5rem; left: 10rem; right: 10rem; border-radius: 0.3rem; box-shadow: 2px 2px 10px grey;'>
  <i class="fas fa-search mx-3" style="font-size: 2rem;"></i>
  <input class="string required search-bar-input flex-grow-1" value="" type="text" name="search[name]" id="search_name" placeholder="City, state, or hotel">
  <input type="submit" name="commit" value="Search" class="btn btn-warning btn-size" style="border-radius: 0.5rem;" data-disable-with="Search">
</form>
