<form action="/listings/search" class='form-inline search-bar justify-content-center p-2 bg-light'>
  <i class="fas fa-search mx-3" style="font-size: 2rem;"></i>
  <input class="string required search-bar-input flex-grow-1" value="" type="text" name="search[name]" id="search_name" placeholder="City, state, or hotel">
  <input type="submit" name="commit" value="Search" class="btn btn-warning btn-size" style="border-radius: 0.5rem;" data-disable-with="Search">
</form>
