<!--
<%= simple_form_for :search, url: search_listing_path, method: "GET", html: { class: 'form-inline d-flex justify-content-center my-n3' } do |f| %>
  <%= f.input :name, input_html: {value: "", style:"width: 800px;"} , label: false %>
  <%= f.submit "Search", class: "btn btn-primary" %>

<% end %> -->

<form action="/listings/search" class='form-inline d-flex justify-content-center my-n3'>
  <input class="string required search-bar-input" value="" type="text" name="search[name]" id="search_name">
  <input type="submit" name="commit" value="Search" class="btn btn-info btn-size" data-disable-with="Search">
</form>
